<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this message from being sent:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :business_name %><br>
    <%= f.text_field :business_name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :"IF YOU WON THIS MONTH’S CAMPAIGN, HOW WOULD YOU GO ABOUT UTILIZING THE 2 FREE HOURS FROM SMBIT?" %><br>
    <%= f.text_area :question1, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :"WHAT ARE YOU BIGGEST PAIN POINTS CURRENTLY? Ie…phone bill, desktops, server issues, spam, slow internet & connectivity, etc…" %><br>
    <%= f.text_area :question2, class: "form-control" %>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-primary btn-block">
      Send  <i class='fa fa-paper-plane-o'></i>
    </button>
  </div>
<% end %>
    </div>
  </div>
</div>
