<!DOCTYPE html>
<html>
    <head>
        
        
    </head>
    <body>
        <p>You have recieved a message from the SMB IT's contact form, from <strong><%= "#{ @first_name} #{@last_name}." %></strong></p>
        <p>Business: <%= "#{@business_name}" %></p>
        <p>Email: <%= "#{@email}" %></p>
        <p>Phone: <%= "#{@phone}" %></p>
        <p>Question 1: <%= "#{@question1}" %></p>
        <p>Question 2: <%= "#{@question2}" %></p>
    </body>
</html>