<div class="wrapper">
<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h3 class="sr-only">ABOUT US</h3>
						<%= image_tag "SMBIT-logo-footer.png", class: "logo" %>
						<br>
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								<li>3558 W Shakespeare Ave<br/> Chicago IL 60647 US</li>
								<li>Telephone:  +1.630.55.SMBIT</li>
								<li>E-mail: <%= mail_to "info@smbitllc.com" %></li>
							</ul>
						</address>
						<!-- END COLUMN 1 -->
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<h3 class="footer-heading">USEFUL LINKS</h3>
						<div class="row margin-bottom-30px">
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><%= link_to "Home", root_path %></li>
									<li><%= link_to "Company", about_path %></li>
									<li><%= link_to "Services", services_path %></li>
								</ul>
							</div>
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<% if current_user %>
										<li><%= link_to "Dashboard", rails_admin_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
									<% else %>
										<li><%= link_to "Admin", new_user_session_path %></li>
									<% end %>
								</ul>
							</div>
						</div>
						<!-- END COLUMN 2 -->
					</div>
					<div class="col-md-4">
						<!-- COLUMN 3 -->
						
						<div class="social-connect">
							<h3 class="footer-heading">GET CONNECTED</h3>
							<ul class="list-inline social-icons">
								<li>
									<a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a>
								</li>
							</ul>
						</div>
						<!-- END COLUMN 3 -->
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2015 SMBIT. All Rights Reserved.
			</div>
			<!-- END COPYRIGHT -->
		</footer>
		<!-- END FOOTER -->
</div>