<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top shrinkable" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
						<%= link_to (image_tag ("SMBIT_logo_new.png")), root_path, class: "navbar-brand navbar-logo" %>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
					    <li><%= link_to "HOME", root_path %></li>
					    <li><%= link_to "COMPANY", about_path %></li>
                        <li><%= link_to 'SERVICES', services_path %></li>
                        <li><%= link_to 'PRODUCTS', products_path %></li>
                        <li><%= link_to 'CONTACT', new_contact_path %></li>
					</ul>
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>