<!DOCTYPE html>
<html>
<head>
  <title>SMB IT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', '//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300,400,400italic,700,700italic' %>
  <%= stylesheet_link_tag    'application', '//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="">
    
    
    
    <!-- Bootstrap success message -->
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
              <%= value %>
            </div>
        <% end %>
      </div>
    </div>
    
    <%= yield %>
    
  </div>
  
  <%= render "layouts/footer" %>
  
  <!-- Footer -->
  

</body>
</html>
